body
{
    background: white;
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
}

li
{
    font: 19px/32px Georgia;
    color: #0e345a;
    padding: 10px 20px 8px 45px;
    text-decoration: none;
    display: block;
    background-position: 21px;
    box-sizing: border-box;
    transition: 0.4s;
    background-position-y: 17px;
   
}

#navigation
{
    display: flex;
    padding: 10px 50px 10px 50px;

    height: 50px;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: white;
}

.background
{
    width: 100%;
    height: 40vw;
    margin-top: 70px;
}

.logo_img
{
    width:  100px;
    height: 50px;
}

.block_book_category
{
    width: 80%;
    height: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 1vw;
    margin: auto auto 5vw auto;
}

.book_one
{
    background-color: red ;
    width: 8vw;
    height: 10vw;

}

.name_best 
{
    text-align: center;
    font-size: 47px;
    color: white;
    font-family: Bradley Hand, cursive;
}

.name_best_one
{
    color: #0e345a;
    text-align: center;
    font-size: 47px;
    font-family: Bradley Hand, cursive;
}
.background_blue
{
    background-color: #0e345a;
    height: 70vw;
    width: 100%;
    margin-top: -65vw;
}

.button_read
{
    width: 12vw;
    height: 3vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 2vw;
    background-color: #0e345a;
    border-color: white;
    color:  white;
    border-width: 3px;
    font-family: Bradley Hand, cursive;
}

.button_read:hover
{
    background-color: white;
    color:  #0e345a;
}