body
{
    background: white;
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
}

li
{
    font: 19px/32px Georgia;
    color: #333;
    padding: 10px 20px 8px 45px;
    text-decoration: none;
    display: block;
    background-position: 21px;
    box-sizing: border-box;
    transition: 0.4s;
    background-position-y: 17px;
   
}

#navigation
{
    display: flex;
    padding: 10px 50px 10px 50px;

    height: 50px;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: white;
}

.background
{
    width: 100%;
    height: 40vw;
    margin-top: 70px;
}

.logo_img
{
    width:  100px;
    height: 50px;
}

.block_book_category
{
    background-color: black ;
    width: 80%;
    height: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 1vw;
    margin: auto auto 5vw auto;
}

.book_one
{
    background-color: red ;
    width: 8vw;
    height: 10vw;
}

.name_best
{
    text-align: center;
    font-size: 47px;
}

.background_blue
{
    background-color: blue;
    height: 100vw;
    width: 100%;
    padding-top: -10vw;
}