form 
{
	width: 500px;
	text-align: center;
    margin: auto;

}

.container
{
	text-align: center;
}

.filter
{
	padding-top: 5vw;
	margin-right: 5vw;
}

.filter_book
{
	margin-bottom: 2vw;
	width: 170px;
}
.price
{
	margin-bottom: 1vw;
}

.book_story
{
	display: flex;
	flex-wrap: wrap;
}

h1
{
	padding:5vw 0 3vw 0;
	text-align: center;
}

.list_book
{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book_two
{
	background-color: blue;
	width: 15vw;
	height: 25vw;
	list-style-type: none;
	margin: 0 1vw 3vw 0;
}

.our_book
{
	text-align: center;
	font-size: 55px;
	color: #0e345a;
	font-family: Bradley Hand, cursive;
	position: relative;
}

.background_grey
{
	background-color: rgb(242,242,242);
	width: 80vw;
	height: 50vw;
	margin: auto;
	position: absolute;
	z-index: -1;
	margin: 10vw 4vw 0 4vw;
}

.girl_img
{
	width: 50vw;
	height: 30vw;
	margin: 0 15vw 0 25vw;
}

.book_img
{
	margin: -8vw 0 0 10vw;
	width: 50vw;
	height: 30vw;
}

#footer_us
{
	margin-top: 75vw;
}

.background_white
{
	background-color: white;
	position: absolute;
	z-index: -1;
	border: 1.5vw outset #0e345a;
	width: 60vw;
	height: 50vw;
	margin: 0 12vw 0 12vw;
}

.catalog_book
{
	display: flex;
}

.book_catalog {
    width: 15vw;
    height: 20vw;
}

.book_title_catalog {
    font-family: Bradley Hand, cursive;
    color: #0e345a;
    font-size: 21px;
}

.block_book_catalog
{
	margin-right: 3vw;
	margin-bottom: 5vw;
	text-align: center;
	width: 15vw;
}

#navigation_catalog, #navigation_us, #navigation_contact
{
    display: flex;
    padding: 10px 50px 10px 50px;
    height: 50px;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: white;
    margin-top: -40px;
}

.book_button_catalog
{
	width: 7vw;
    height: 3vw;
    background: transparent;
    color: #0e345a;
    border-color: #0e345a;
    border-radius: 2px;
}

.footer_catalog
{
	background-color: #0e345a;
    margin-left: -50px;
    margin-right: -50px;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.list_footer_catalog
{
	list-style-type: none;
    color: white;
    font-family: Bradley Hand, cursive;
    font-size: 15px;
    margin-bottom: 1vw;
}

.list_footer_name_catalog
{
	color: white;
    font-family: Bradley Hand, cursive;
    font-size: 17px;
    margin-bottom: 2vw;
}

.footer_catalog_div
{
	display: flex;
    justify-content: space-evenly;
}

.price_catalog
{
	color: #0e345a;
    font-family: Bradley Hand, cursive;
    font-size: 17px;
}

.map
{
	margin: 10vw;
}