body
{
	background: white;
	margin-top: 10%;
}

h2
{
	font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
    margin-top: 10px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

p
{
	text-align: center;
    padding-top: 0;
    margin-bottom: 32px;
}
input
{
	border: 1px solid #c9c9c9;
    width: 350px;
    height: 35px;
    padding: 0.5vw;
    border-radius: 2vw;
    margin-bottom: 1vw;
}

input:hover {
	border-color: red;
	cursor: pointer;
	border: 1px solid #c9c9c9;
    width: 350px;
    height: 35px;
    padding: 0.5vw;
    border-radius: 2vw;
    margin-bottom: 1vw;
}

#forms
{
	width: 50vw;
    text-align: center;
    margin: auto;
}

.password {
	width: 362px;
	margin: auto;
	position: relative;

}

#password-input {
	border-color: red;
	cursor: pointer;
	border: 1px solid #c9c9c9;
    width: 350px;
    height: 35px;
    padding: 0.5vw;
    border-radius: 2vw;
}
.password-control {
	position: absolute;
	top: 15px;
	right: 8px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}